.navbar {
    padding-bottom: 15px; 
    /* background-color: #EE4266; */
    /* background-color: #000; */
} 

.dropdown-divider{
    margin: 0;
}

.dropdown-menu{
    padding: 0;
}

.nav-item{
    padding-right: 15px;
}

.navbar-nav .nav-item .nav-link .dropdown:not(.active) {
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link.active {
    position: relative;
   /* font-size: large; */
    border-bottom: 3px solid;
    display: inline-block;
}

.navbar-logo{
    height: 70px;
    width: 70px;
    /* width: 200px; */
    border-radius: 100%;
    border: 2px solid red;
    padding: 0 5px;
    margin: 0 5px;
    color: #58A399;
}

.navbar-brand-name{
    font-weight: bolder;
   font-size: x-large;
   color: #FDAF7B;
   margin-left: 5px;
   text-decoration: none;
}

.navbar-brand-name:hover{
    color: #FDAF7B;
}


.navbar-toggler:focus {
    outline: none;
  }