label, input,textarea {
    display: block;
  }
  
  input,select, textarea {
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: "Roboto Mono",monospace;
  }

  div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid var(--error);
    color: var(--error);
    border-radius: 4px;
    margin: 20px 0;
  }
  
  
  .container-navbar-main{
    text-align: center;
    background-color: white;
    padding: 20px;
  }

  .create{
    margin: 2% 5%;
    background-color: #E8F9FD;
    border-radius: 20px;
    padding: 0% 5% 3%;
  }

  .user-form-main-container{
    display: flex;
    justify-content: center;
    margin: 40px 0;
    width: 100%;
    
  }

  form{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  .contact-submit-btn{
    font-family: cursive;
  }

  .button-contact, .button-contact:focus {
    margin-top: 20px;
    font-size: 17px;
    padding: 10px 25px;
    border-radius: 0.7rem;
    background-color: #ecd448;
    border: 2px solid rgb(50, 50, 50);
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px rgb(158, 129, 254);
    transform: translate(0, -3px);
    transition: 0.2s;
    transition-timing-function: linear;
    display: block;
  }
  
  .button-contact:active {
    transform: translate(0, 0);
    border-bottom: 2px solid rgb(50, 50, 50);
  }


  .error-message {
    color: red;
    animation: blink-animation 1s ease-in-out infinite;
    -webkit-animation: blink-animation 1.5s ease-in-out infinite;
  }
  
  @keyframes blink-animation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes blink-animation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  

  /* Animation for walking */

@keyframes walk {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  20%, 60% {
    transform: translateY(-8px) rotate(-10deg);
  }
  40%, 80% {
    transform: translateY(8px) rotate(10deg);
  }
}

.fa-person-walking {
  display: inline-block;
  animation: walk 1.5s ease-in-out infinite; /* Adjust the duration and easing as needed */
}


/* CSS for yoga images */

.yoga-images-container{
  text-align: center;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px); 
  }
}

.yoga-img {
  animation: moveUpDown 3s ease-in-out infinite; 
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin:50px 0;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}


input[type="date"]{
  
  padding: 15px;
  width: 200px;
  font-family: "Roboto Mono",monospace;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: none;
}

