.filtered-candidates-container{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 5%;
    margin-bottom: 5%;
}

.list-jobs-container-main{
    padding: 0;
    margin: 40px 5%;
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 992px) {
    .criteria-form-container {
        margin-bottom: 70px;
        border-bottom: 1px dashed gray;
        padding-bottom: 30px;
    }
  }

