
.subject-container{
    margin: 2% 5% 1%;
    
}

.search-bar-container{
    margin: 2% 5% 0;
}



tr{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.subject-heading{
    margin-bottom: 10px;
    /* font-family: sans-serif; */
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-decoration: underline; */
}



.row-border{
    border: 2px solid #EFE1D1;
}

.search-label{
    font-size: large;
    margin: 10px;
    color: gray;
}

.search-input{
    border: 2px solid;
    height: 40px;
    max-width: 600px;
}

.search-bar-container{
    background-color: #B0C5A4;
    padding: 20px 10px;
    background-color: #EEEDEB;
    margin-bottom: 20px;
}

.ans-btn-container{
    display: flex;
    text-align: center;
    justify-content: center;
}

.ans-Image{
    max-width: 100%;
    height: auto;
}

.btn-container{
    text-align: center;
}


.delete-icon{
    color: red;
    margin-top: 10px;
}

i{
    font-size: large;
}

.preview-icon{
    color: blue;
    font-weight: bolder;
   font-size: x-large;
   margin-top: 10px;
}

.preview-icon:hover{
    cursor: pointer;
    opacity: 0.5;
    color: green;
}


.update-icon{
    color: #124076;
    font-weight: bolder;
   font-size: x-large;
   margin-top: 10px;
}

.update-icon:hover{
    cursor: pointer;
    opacity: 0.5;
    color: green;
}

.container-home-top{
    position: relative;
    display: flex;
    margin: 2% 5% 1%;
    margin-bottom: 50px;
}

#addUserBtn{
    margin: 0 15px;
}

/* .add-delete-btns-container{
    position: absolute;
    right: 0;
    margin-bottom: 20px;
} */

.pagination-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pagination-btn{
    margin: 0px 5px;
    border: none;
    border-radius: 10px;
    
}

 .selected-row {
    background-color: #30E3DF !important;
}
  


/* css for loader start */

.loader {
    border: 10px solid #83A2FF;
    border-radius: 50%;
    border-top: 10px solid #000;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

/* css for loader end */




